body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0px;
}


.content > div > img{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* grid operation */
.content{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.hor{
    grid-column: span 2;
}
.ver{
    grid-row: span 2;
}